.footer {
  background: linear-gradient(to right, #fff 0%, #fff 50%, #F1F1F1 51%, #F1F1F1 100%);
}
.footer .logo_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .logo_holder img {
  width: 80%;
  height: auto;
}
.footer .btn_holder {
  align-items: center;
  justify-content: center;
}
.footer_body,
.publications {
  background-color: #F1F1F1;
}
