.image_gallery {
  margin: 0;
  padding: 0;
}
.image_gallery img {
  width: 100%;
  height: auto;
}
.image_gallery div {
  margin: 0;
  padding: 0;
}
.image_gallery .d-flex {
  flex: 1;
}
.image_gallery .cl {
  flex-flow: column;
}
.image_gallery a {
  flex: 1;
  display: block;
  background-size: cover;
  background-position: center center;
}
