h1 {
  font-size: calc(14px * 2.8 + ((2*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 1.4rem;
  margin-left: -3.92px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
h1._h {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
h2 {
  font-size: calc(14px * 2.2 + ((2*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 1.1rem;
  margin-left: -3.08px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
h2._h {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
h3 {
  font-size: calc(14px * 1.5818 + ((2*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 0.7909rem;
  margin-left: -2.21452px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
h3._h {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
h4 {
  font-size: calc(14px * 1.2892 + ((2*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 0.6446rem;
  margin-left: -1.80488px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
h4._h {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
h5 {
  font-size: calc(14px * 1 + ((2*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 0.5rem;
  margin-left: -1.4px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
h5._h {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
h6 {
  font-size: calc(14px * 0.8409 + ((2*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 0.42045rem;
  margin-left: -1.17726px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
h6._h {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
body {
  font-size: calc(14px + ((1.2892*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc((14px * 1.2892) + ((1.5818*14*1.1) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
}
p {
  margin: 0 0 calc(2rem + (2.8 - 0.8409) * ((100vw - 300px)/(1600 - 300))) 0;
}
blockquote {
  font-size: calc(14px + ((1.5818*14) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc((14px * 1) + ((1.5818*14*1.5818) - (1*14)) * ((100vw - 300px) / (1600 - 300)));
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Georgia', Serif;
}
#top_menu {
  margin: 1.52vw 0;
}
#top_menu a {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.btn,
.meta,
#quick_navigation,
.key_pages,
.key_links,
input,
textarea,
button,
.frequencies,
.amounts,
.letters {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
