{% macro input(languages, current_language) %}
	{% if languages %}
		<div id="languages">
			{% for lang in languages %}
				<a href="{{ lang.url }}" class="{{ lang.native_name == current_language ? "current-menu-item current_language lng" : "lng" }} {{ lang.native_name }}">
					{{ lang.native_name }}
				</a>
				{% if not loop.last %}
					<span class="separator">/</span>
				{% endif %}
			{% endfor %}
		</div>	
	{% endif %}
{% endmacro %}
