{% extends 'base.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
		 	{% for item in posts %}
	 	 		<a href="{{ item.link }}" title="{{ item.title }}">
	 	 			<img src="{{ item.thumbnail.src('medium') }}" alt="{{ item.title }}">
		 	   </a>
		  	{% endfor %}
		</div> 
	</div>
{% endblock %}
