{% extends 'base.twig' %}
{% import 'macro/edit-link.twig' as editLink %}

{% block content %}
	<div class="container">
		<div class="row col-12">
			<h1>{{ post.title }}</h1>	
			{{ editLink.input(post) }} 		
		</div>
	</div>
{% endblock %}