{% extends 'base.twig' %}

{% block content %}
	<div class="container">
		<div class="row col-12">
			<h1>{{ post.title }}</h1>	
		</div>
		<span class="terms">
		    {% set types = post.terms|filter(term => 'type' in term.taxonomy) %}
			{% for term in types %}
				<a href="{{ fn('get_term_link', term.term_id, 'type') }}">{{ term.name }}</a>{{ loop.last ? '' : ', ' }}
		    {% endfor %}
	    </span>
	</div>
{% endblock %}
